# Postgres container credentials
POSTGRES_USER=mybookvault
POSTGRES_PASSWORD=mybookvault
POSTGRES_DB=mybookvault

# Backend connects to the 'db' service by its Docker Compose name
DATABASE_URL=postgresql://mybookvault:mybookvault@db:5432/mybookvault

# localhost to be changed with laptop's IP to access camera from phone
VITE_API_URL=http://localhost:8000